<%- include("./partials/head") %>
<%- include("./partials/header") %>

<div class="container">

  <!-- Avatar, Name and Level -->
  <div class="row info-panel p-4 mb-5">

    <div class="col-12 col-sm-4 d-flex justify-content-center mb-4 mb-sm-0 p-0">
      <!-- Avatar -->
      <img class="img-fluid border-circle" src="/img/youlooklikethisguy.jpg" alt="Avatar">
    </div>

    <div class="col-12 col-sm-8 d-flex flex-column justify-content-evenly align-items-center align-items-sm-start ps-sm-4 p-0">
      <div class="row">
        <!-- Character Name -->
        <h2 class="textsize-2 mb-0">This Guy</h2>
      </div>
      <div class="row">
        <!-- Character Level -->
        <p class="textsize-2 mb-0">level 50</p>
      </div>
    </div>

  </div>

  <!-- Skills -->
  <div class="row">

  </div>
</div>

<!-- temporary enable tooltips script -->
<script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl)
    })
</script>

<%- include("./partials/copyright") %>