        <!-- Footer -->
        <footer class="background-green">

            <div class="container pb-2">

                <div class="row">

                    <!-- Left Col -->
                    <nav class="col-12 col-sm-6 py-2">
                        <ul class="list-unstyled text-center m-0">
                            <!-- Pages -->
                            <li><a class="textsize-1 textcolor-white texthover-black text-decoration-none" href="/character">character</a></li>
                            <li><a class="textsize-1 textcolor-white texthover-black text-decoration-none" href="/help">help</a></li>
                            <li><a class="textsize-1 textcolor-white texthover-black text-decoration-none" href="/logout">log out</a></li>
                        </ul>
                    </nav>

                    <!-- Right Col -->
                    <div class="col-12 col-sm-6 text-center pb-2 py-sm-2">
                        <!-- Social Media Icons -->
                        <div class="row">
                            <!-- Twitter: @LouSavoie -->
                            <div class="col">
                                <a class="textsize-2 textcolor-white texthover-black" href="https://twitter.com/LouSavoie"><i class="fab fa-twitter"></i></a>
                            </div>
                        </div>
                        <div class="row">
                            <!-- LouisSavoie.com -->
                            <a class="textsize-1 textcolor-white texthover-black text-decoration-none" href="https://www.louissavoie.com">Developer's Portfolio</a>
                        </div>
                    </div>

                </div>

                <!-- Copyright -->
                <p class="textcolor-white text-center m-0">Copyright© Louis Savoie 2021. All rights reserved.</p>

            </div>
            
        </footer>
    </body>
</html>