<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>rp-u</title>
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/stylesheets/style.css">
        <script src="https://kit.fontawesome.com/f48ece1f64.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <header class="container">
            <h1 class="logo">rp-u</h1>
            <nav>
                <li class="navlink"><a href="feed.html">feed</a></li>
                <li class="navlink active"><a href="profile.html">profile</a></li>
                <li class="navlink"><a href="friends.html">friends</a></li>
                <li class="navlink"><a href="guild.html">guild</a></li>
                <li class="navlink"><a href="#">log out</a></li>
            </nav>
            <div class="burger">
                <i class="fas fa-bars"></i>
            </div>
        </header>