<%- include("./partials/head") %>
<%- include("./partials/header") %>

    <body>

        <div class="container">

            <div class="row">

                <!-- Headings -->
                <div class="col">
                    <h2 class="textsize-2 text-center mb-5">help</h2>
                </div>

            </div>

            <div class="row mb-5">

                <div class="col">
                    <!-- Section Links -->
                    <p class="textsize-1 textcolor-green">Sections:</p>
                    <ul>
                        <li><a href="#signup-charactercreation" class="text-decoration-none">Signup and Character Creation</a></li>
                        <li><a href="#posting" class="text-decoration-none">Posting</a></li>
                    </ul>
                </div>

            </div>

            <main>
                <!-- Signup and Character Creation Section -->
                <section id="signup-charactercreation" class="mb-5">

                    <div class="row">

                        <h3 class="textsize-1 textcolor-green">Signup and Character Creation</h3>

                        <p>First thing is first, to use rpu you need to create an account. From the landing page click the 'signup' button.</p>
                        <figure class="figure">
                            <img src="/img/help/signup-charactercreation-fig1.webp" class="figure-img img-fluid rounded" style="max-height: 400px;" alt="Click the 'signup' button.">
                            <figcaption class="figure-caption">Click the 'signup' button.</figcaption>
                        </figure>

                        <p>On the signup page, fill out your name and password then click the 'signup' button.
                            <br>* This name will not be your character name, which you will make on the next page, and you should choose different names for security reasons.</p>
                        <figure class="figure">
                            <img src="/img/help/signup-charactercreation-fig1.webp" class="figure-img img-fluid rounded" style="max-height: 400px;" alt="Click the 'signup' button.">
                            <figcaption class="figure-caption">Fill out name and password, click the 'signup' button.</figcaption>
                        </figure>

                        <p>On the create character page, fill out your character name and give us a URL to an image you would like to use as your character's picture then click the 'create character' button.
                            <br>* You should use a square ratio image or it might look squished!</p>
                        <figure class="figure">
                            <img src="/img/help/signup-charactercreation-fig1.webp" class="figure-img img-fluid rounded" style="max-height: 400px;" alt="Click the 'signup' button.">
                            <figcaption class="figure-caption">Fill out name and image URL, click the 'create character' button.</figcaption>
                        </figure>

                        <p>On the new skill page, give your character a skill that you would like to improve and click the 'create skill' button.
                            <br> * This is a real-life skill, like woodworking, time management, working out, programming, etc.</p>
                        <figure class="figure">
                            <img src="/img/help/signup-charactercreation-fig1.webp" class="figure-img img-fluid rounded" style="max-height: 400px;" alt="Click the 'signup' button.">
                            <figcaption class="figure-caption">Fill out skill name and click the 'create skill' button.</figcaption>
                        </figure>

                    </div>

                </section>

                <!-- Posting Section -->
                <section id="posting" class="mb-5">

                    <div class="row">

                        <h3 class="textsize-1 textcolor-green">Posting</h3>

                        <p>First thing is first, to use rpu you need to create an account. From the landing page click the 'signup' button.</p>
                        <figure class="figure">
                            <img src="/img/help/signup-charactercreation-fig1.webp" class="figure-img img-fluid rounded" style="max-height: 400px;" alt="Click the 'signup' button.">
                            <figcaption class="figure-caption">Click the 'signup' button.</figcaption>
                        </figure>

                        <p>On the signup page, fill out your name and password then click the 'signup' button.
                            <br>This name will not be your character name, which you will make on the next page, and you should choose different names for security reasons.</p>
                        <figure class="figure">
                            <img src="/img/help/signup-charactercreation-fig1.webp" class="figure-img img-fluid rounded" style="max-height: 400px;" alt="Click the 'signup' button.">
                            <figcaption class="figure-caption">Fill out name and password, click the 'signup' button.</figcaption>
                        </figure>

                        <p>On the create character page, fill out your character name and give us a URL to an image you would like to use as your character's picture then click the 'create character' button.
                            <br>You should use a square ratio image or it might look squished!</p>
                        <figure class="figure">
                            <img src="/img/help/signup-charactercreation-fig1.webp" class="figure-img img-fluid rounded" style="max-height: 400px;" alt="Click the 'signup' button.">
                            <figcaption class="figure-caption">Fill out name and image URL, click the 'create character' button.</figcaption>
                        </figure>

                        <p>On the new skill page, give your character a skill that you would like to improve and click the 'create skill' button.
                            <br>This is a real-life skill, like woodworking, time management, working out, programming, etc.</p>
                        <figure class="figure">
                            <img src="/img/help/signup-charactercreation-fig1.webp" class="figure-img img-fluid rounded" style="max-height: 400px;" alt="Click the 'signup' button.">
                            <figcaption class="figure-caption">Fill out skill name and click the 'create skill' button.</figcaption>
                        </figure>

                    </div>

                </section>

            </main>

        </div>
        

<%- include("./partials/footer") %>