<%- include("./partials/head") %>
<%- include("./partials/header") %>

    <body>

        <div class="container">

            <div class="row">

                <!-- Headings -->
                <div class="col">
                    <h2 class="textsize-2 text-center mb-5">help</h2>
                </div>

            </div>

            <div class="row mb-5">

                <div class="col">
                    <!-- Section Links -->
                    <p class="textsize-1 textcolor-green">Sections:</p>
                    <ul>
                        <li><a href="#signup-charactercreation" class="text-decoration-none">Signup and Character Creation</a></li>
                        <li><a href="#posting" class="text-decoration-none">Posting</a></li>
                        <li><a href="#edit-post" class="text-decoration-none">Edit a Post</a></li>
                        <li><a href="#delete-post" class="text-decoration-none">Delete a Post</a></li>
                        <li><a href="#edit-character" class="text-decoration-none">Edit Your Character</a></li>
                        <li><a href="#new-skill" class="text-decoration-none">Add a New Skill</a></li>
                        <li><a href="#edit-skill" class="text-decoration-none">Edit a Skill</a></li>
                        <li><a href="#delete-skill" class="text-decoration-none">Delete a Skill</a></li>
                    </ul>
                </div>

            </div>

            <main>

                <!-- Signup and Character Creation Section -->
                <section id="signup-charactercreation" class="mb-5">

                    <div class="row">

                        <h3 class="textsize-1 textcolor-green">Signup and Character Creation</h3>

                        <p>First thing is first, to use rpu you need to create an account. From the landing page click the 'signup' button.</p>
                        <figure class="figure">
                            <img src="/img/help/signup-charactercreation-fig1.webp" class="figure-img img-fluid rounded" style="max-height: 400px;" alt="landing page">
                            <figcaption class="figure-caption">Click the 'signup' button.</figcaption>
                        </figure>

                        <p>On the signup page, fill out your name and password then click the 'signup' button.
                            <br><em>* This name will not be your character name, which you will make on the next page, and you should choose different names for security reasons.</em></p>
                        <figure class="figure">
                            <img src="/img/help/signup-charactercreation-fig2.webp" class="figure-img img-fluid rounded" style="max-height: 400px;" alt="signup page">
                            <figcaption class="figure-caption">Fill out name and password, click the 'signup' button.</figcaption>
                        </figure>

                        <p>On the create character page, fill out your character name and give us a URL to an image you would like to use as your character's picture then click the 'create character' button.
                            <br><em>* You should use a square ratio image or it might look squished!</em></p>
                        <figure class="figure">
                            <img src="/img/help/signup-charactercreation-fig3.webp" class="figure-img img-fluid rounded" style="max-height: 400px;" alt="create character page">
                            <figcaption class="figure-caption">Fill out name and image URL, click the 'create character' button.</figcaption>
                        </figure>

                        <p>On the new skill page, give your character a skill that you would like to improve and click the 'create skill' button.
                            <br><em>* This is a real-life skill, like woodworking, time management, working out, programming, etc.</em></p>
                        <figure class="figure">
                            <img src="/img/help/signup-charactercreation-fig4.webp" class="figure-img img-fluid rounded" style="max-height: 400px;" alt="new skill page">
                            <figcaption class="figure-caption">Fill out skill name and click the 'create skill' button.</figcaption>
                        </figure>

                    </div>

                </section>

                <!-- Posting Section -->
                <section id="posting" class="mb-5">

                    <div class="row">

                        <h3 class="textsize-1 textcolor-green">Posting</h3>

                        <p>Posting intructions coming soon!</p>

                    </div>

                </section>

                <!-- Edit a Post Section -->
                <section id="edit-post" class="mb-5">

                    <div class="row">

                        <h3 class="textsize-1 textcolor-green">Edit a Post</h3>

                        <p>Edit a Post intructions coming soon!</p>

                    </div>

                </section>

                <!-- Delete a Post Section -->
                <section id="delete-post" class="mb-5">

                    <div class="row">

                        <h3 class="textsize-1 textcolor-green">Delete a Post</h3>

                        <p>Delete a Post intructions coming soon!</p>

                    </div>

                </section>

                <!-- Edit Your Character Section -->
                <section id="edit-character" class="mb-5">

                    <div class="row">

                        <h3 class="textsize-1 textcolor-green">Edit Your Character</h3>

                        <p>From your character page click the 'edit character' button that looks like a person with a pencil.</p>
                        <figure class="figure">
                            <img src="/img/help/edit-character-fig1.webp" class="figure-img img-fluid rounded" style="max-height: 400px;" alt="character page">
                            <figcaption class="figure-caption">Click the 'edit character' button.</figcaption>
                        </figure>

                        <p>On the edit character page, change the name and image URL fields as you desire then click the 'submit changes' button.
                            <br><em>* You should use a square ratio image or it might look squished!</em></p>
                        <figure class="figure">
                            <img src="/img/help/edit-character-fig2.webp" class="figure-img img-fluid rounded" style="max-height: 400px;" alt="edit character page">
                            <figcaption class="figure-caption">Edit name and image URL fields then click the 'submit changes!' button.</figcaption>
                        </figure>

                    </div>

                </section>

                <!-- Add a New Skill Section -->
                <section id="new-skill" class="mb-5">

                    <div class="row">

                        <h3 class="textsize-1 textcolor-green">Add a New Skill</h3>

                        <p>From your character page click the 'new skill' button that looks like a plus sign above your character's skills.</p>
                        <figure class="figure">
                            <img src="/img/help/new-skill-fig1.webp" class="figure-img img-fluid rounded" style="max-height: 400px;" alt="character page">
                            <figcaption class="figure-caption">Click the 'new skill' button.</figcaption>
                        </figure>

                        <p>On the create new skill page, pick a name for the new skill then click the 'create skill!' button.</p>
                        <figure class="figure">
                            <img src="/img/help/new-skill-fig2.webp" class="figure-img img-fluid rounded" style="max-height: 400px;" alt="create new skill page">
                            <figcaption class="figure-caption">Pick a name then click the 'create skill!' button.</figcaption>
                        </figure>

                    </div>

                </section>

                <!-- Edit a Skill Section -->
                <section id="edit-skill" class="mb-5">

                    <div class="row">

                        <h3 class="textsize-1 textcolor-green">Edit a Skill</h3>

                        <p>From your character page click the 'edit skill' button that looks like a pencil next to the skill you want to edit.</p>
                        <figure class="figure">
                            <img src="/img/help/edit-skill-fig1.webp" class="figure-img img-fluid rounded" style="max-height: 400px;" alt="character page">
                            <figcaption class="figure-caption">Click the 'edit skill' button.</figcaption>
                        </figure>

                        <p>On the edit skill page, you can pick a new name for your skill then click the 'submit changes!' button.</p>
                        <figure class="figure">
                            <img src="/img/help/edit-skill-fig2.webp" class="figure-img img-fluid rounded" style="max-height: 400px;" alt="edit skill page">
                            <figcaption class="figure-caption">Pick a name then click the 'submit changes!' button.</figcaption>
                        </figure>

                    </div>

                </section>

                <!-- Delete a Skill Section -->
                <section id="delete-skill" class="mb-5">

                    <div class="row">

                        <h3 class="textsize-1 textcolor-green">Delete a Skill</h3>

                        <p>From your character page click the 'delete skill' button that looks like a trash can next to the skill you want to delete.</p>
                        <figure class="figure">
                            <img src="/img/help/delete-skill-fig1.webp" class="figure-img img-fluid rounded" style="max-height: 400px;" alt="character page">
                            <figcaption class="figure-caption">Click the 'delete skill' button.</figcaption>
                        </figure>

                        <p>On the delete skill page, confirm you actually want to delete the skill by clicking the 'delete skill' button.
                            <br><em>* Deleting a skill will decrease your character level by the amount of that skill's level.</em></p>
                        <figure class="figure">
                            <img src="/img/help/delete-skill-fig2.webp" class="figure-img img-fluid rounded" style="max-height: 400px;" alt="delete skill page">
                            <figcaption class="figure-caption">Click the 'delete skill' button.</figcaption>
                        </figure>

                    </div>

                </section>

            </main>

        </div>
        

<%- include("./partials/footer") %>