<%- include("./partials/head") %>

    <body class="background-green textcolor-white text-center">
        <div class="container">
            <div class="row row-cols-1">
                <div class="col">
                    <h1 class="textsize-10 mb-5">rpu</h1>
                    <p class="textsize-1 mb-5">build good habits by turning real life into an RPG!</p>
                </div>
                <div class="col">
                    <a class="btn button-white rounded-pill mb-3" href="/login" role="button">log in</a>
                </div>
                <div class="col">
                    <a class="btn button-white rounded-pill mb-auto" href="/signup" role="button">sign up</a>
                </div>
            </div>
        </div>
        

<%- include("./partials/copyright") %>