<%- include("./partials/head") %>

    <body class="background-green textcolor-white text-center">

        <div class="container">

            <div class="row">

                <!-- Headings -->
                <div class="col">
                    <h1 class="textsize-8 mb-5">rpu</h1>
                    <h2 class="textsize-2 mb-3">log in</h2>
                </div>

            </div>

            <!-- Log In Form -->
            <form action="/login" method="POST" class="mb-5">

                <!-- Account Name Input -->
                <div class="row justify-content-center mb-3">

                    <label for="inputUserName">name</label>
                    <div class="col-6 col-md-5 col-lg-4 col-xl-3">
                        <input type="text" class="form-control" id="inputUserName" name="username">
                    </div>

                </div>

                <!-- Password Input -->
                <div class="row justify-content-center mb-4">

                    <label for="inputPassword">password</label>
                    <div class="col-6 col-md-5 col-lg-4 col-xl-3">
                        <input type="password" class="form-control" id="inputPassword" name="password">
                    </div>

                </div>

                <!-- Submit Button -->
                <button type="submit" class="btn button-white btn-lg rounded-pill mb-3">log in</button>

            </form>

            <!-- Sign Up and Go Back Navigation Buttons -->
            <div class="row row-cols-1 mb-5">

                <!-- Sign Up Button -->
                <div class="col mb-3">
                    <p>don't have an account?</p>
                    <a class="btn button-white rounded-pill mb-3" href="/signup" role="button"><strong>sign up!</strong></a>
                </div>

                <!-- Back Button -->
                <div class="col">
                    <a class="btn button-white rounded-pill" href="./" role="button">back</a>
                </div>
            </div>

        </div>
        

<%- include("./partials/copyright") %>