/* Color Palette
https://colorhunt.co/palette/208131
white #ffffff
black #000000
primary green #
secondary green #
link blue #
*/

/* CUSTOM COMPONENTS */

/* Frames */
.frame-outer {
    margin: 1rem .5rem;
    border: 1rem solid #00bd16;
    border-top: .5rem;
    border-radius: 40px;
    background: #00bd16;
    box-shadow: 0 0 .25rem rgba(0, 0, 0, .5);
    text-shadow: 0 0 .25rem rgba(0, 0, 0, .5);
    color: white;
}

.frame-inner {
    padding: .5rem;
    box-shadow: 0 0 0 1rem #00ec1b;
    border-radius: 1rem;
    background: white;
    color: black;
    text-shadow: none;
}