<%- include("../partials/head") %>

    <body class="background-green textcolor-white text-center">

        <div class="container">

            <div class="row">

                <!-- Headings -->
                <div class="col">
                    <h1 class="textsize-8 mb-5">rpu</h1>
                    <h2 class="textsize-2 mb-3">create character</h2>
                </div>

            </div>

            <!-- Create Character Form -->
            <form action="/characters" method="POST" class="mb-5">

                <!-- Character Name Input -->
                <div class="row justify-content-center mb-4">

                    <label for="name">name</label>
                    <div class="col-6 col-md-5 col-lg-4 col-xl-3">
                        <input type="text" class="form-control" name="name" maxlength="12">
                    </div>

                </div>

                <!-- Image URL Input -->
                <div class="row justify-content-center mb-4">

                    <label for="image">image url<br>(square dimentions for best look)</label>
                    <div class="col-6 col-md-5 col-lg-4 col-xl-3">
                        <input type="text" class="form-control" id="image" name="image">
                    </div>

                </div>

                <!-- Submit Button -->
                <button type="submit" class="btn button-white btn-lg rounded-pill mb-3">create character!</button>

            </form>

        </div>
        

<%- include("../partials/copyright") %>